In [11]:
import pandas as pd

# Extract classification results from `torchattacks.csv` file
csv_paths = [
    "results/robustness/class/dinov2_vitb14_1/torchattacks.csv",
    "results/robustness/class/dinov2_vitb14_5/torchattacks.csv",
    "results/robustness/class/dinov2_vitb14_10_base_head/torchattacks.csv",
    "results/robustness/class/dinov2_vitb14_10/torchattacks.csv",
    "results/robustness/class/dinov2_vitb14_20/torchattacks.csv",
    "results/robustness/class/dinov2_vits14_10_base_head/torchattacks.csv",
    "results/robustness/class/dinov2_vits14_10/torchattacks.csv",
    "results/robustness/class/dinov2_vitl14_10_base_head/torchattacks.csv",
    "results/robustness/class/dinov2_vitl14_10/torchattacks.csv",
]

for csv_path in csv_paths:
    print(csv_path)
    df = pd.read_csv(csv_path) * 100
    print(len(df))
    summary = df.agg(["mean"]).T
    display(summary)
    print()

results/robustness/class/dinov2_vitb14_1/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      80.139860
AutoAttack_surrogate_adv_acc   0.819181
AutoAttack_victim_acc         79.260739
AutoAttack_victim_adv_acc     42.337662

results/robustness/class/dinov2_vitb14_5/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      80.139860
AutoAttack_surrogate_adv_acc   0.799201
AutoAttack_victim_acc         79.740260
AutoAttack_victim_adv_acc     46.413586

results/robustness/class/dinov2_vitb14_10_base_head/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      80.139860
AutoAttack_surrogate_adv_acc   0.819181
AutoAttack_victim_acc         79.660340
AutoAttack_victim_adv_acc     42.537463

results/robustness/class/dinov2_vitb14_10/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      80.139860
AutoAttack_surrogate_adv_acc   0.839161
AutoAttack_victim_acc         79.200799
AutoAttack_victim_adv_acc     45.234765

results/robustness/class/dinov2_vitb14_20/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      80.139860
AutoAttack_surrogate_adv_acc   0.819181
AutoAttack_victim_acc         79.560440
AutoAttack_victim_adv_acc     46.553447

results/robustness/class/dinov2_vits14_10_base_head/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      75.624376
AutoAttack_surrogate_adv_acc   0.359640
AutoAttack_victim_acc         73.726274
AutoAttack_victim_adv_acc     26.253746

results/robustness/class/dinov2_vits14_10/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      75.624376
AutoAttack_surrogate_adv_acc   0.339660
AutoAttack_victim_acc         74.345654
AutoAttack_victim_adv_acc     30.229770

results/robustness/class/dinov2_vitl14_10_base_head/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      82.537463
AutoAttack_surrogate_adv_acc   1.638362
AutoAttack_victim_acc         82.297702
AutoAttack_victim_adv_acc     58.741259

results/robustness/class/dinov2_vitl14_10/torchattacks.csv
5005

                                   mean
AutoAttack_surrogate_acc      82.537463
AutoAttack_surrogate_adv_acc   1.498501
AutoAttack_victim_acc         82.357642
AutoAttack_victim_adv_acc     60.399600

In [17]:
import pandas as pd

# Extract feature robustness results from `torchattacks.csv` file
csv_paths = [
    "results/robustness/features/dinov2_vitb14_0",
    "results/robustness/features/dinov2_vitb14_1",
    "results/robustness/features/dinov2_vitb14_5",
    "results/robustness/features/dinov2_vitb14_10",
    "results/robustness/features/dinov2_vitb14_20",
    "results/robustness/features/dinov2_vits14_0",
    "results/robustness/features/dinov2_vits14_10",
    "results/robustness/features/dinov2_vitl14_0",
    "results/robustness/features/dinov2_vitl14_10",
]

for csv_path in csv_paths:
    print(csv_path)
    df = pd.read_csv(f"{csv_path}/cossims.csv")
    print(len(df))
    mean = df.iloc[:, 1].mean()
    print("cossims", mean)
    df = pd.read_csv(f"{csv_path}/mses.csv")
    mean = df.iloc[:, 1].mean()
    print("mses", mean)
    print()

results/robustness/features/dinov2_vitb14_0
5005
cossims 0.042539951875719684
mses 5.056067974285715

results/robustness/features/dinov2_vitb14_1
5005
cossims 0.889339177016983
mses 0.5347111352655344

results/robustness/features/dinov2_vitb14_5
5005
cossims 0.9100060499720279
mses 0.4340348359778221

results/robustness/features/dinov2_vitb14_10
5005
cossims 0.9154302055184815
mses 0.4072568397944056

results/robustness/features/dinov2_vitb14_20
5005
cossims 0.9198099107792207
mses 0.38486098325834167

results/robustness/features/dinov2_vits14_0
5005
cossims 0.08298588383343185
mses 9.77185131026973

results/robustness/features/dinov2_vits14_10
5005
cossims 0.9294458691988012
mses 0.6345471019760239

results/robustness/features/dinov2_vitl14_0
5005
cossims 0.05675921635945615
mses 3.7678188778021977

results/robustness/features/dinov2_vitl14_10
5005
cossims 0.9039352115984016
mses 0.3353846596303696